.newRun {
    background-color: var(--blue-dark);
    padding: var(--spacing-s);
    border-bottom: 2px dashed var(--creme);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.newRun > *:not(:last-child) {
    margin-bottom: var(--spacing-s);
}

.newRun label {
    background: transparent none no-repeat right center;
    background-size: var(--icon-size);
    height: var(--icon-size);
    padding-right: calc(var(--icon-size) + var(--spacing-s));
}

.newRun label:first-child {
    background-image: url("../../assets/icons/polygon3.svg");
}

.newRun label:nth-child(2) {
    background-image: url("../../assets/icons/stopwatch.svg");
}

.newRun label input {
    margin-left: var(--spacing-s);
    border: none;
    background-color: transparent;
    color: #fff;
    text-align: right;
}

.newRun button {
    height: var(--icon-size);
    width: var(--icon-size);
    padding: 0;
    border: none;
    background: transparent url("../../assets/icons/heart-plus.svg") no-repeat center center;
    background-size: var(--icon-size);
    vertical-align: bottom;
}

::placeholder {
    color: var(--creme);
    opacity: 1;
}
