.chart {
  padding: 5px;
  user-select: none;

  .linechart_path {
    stroke-width: 0.6;
    fill: none;
    stroke: #673AB7;
  }

  .linechart_axis {
    stroke: #000000;
  }

  text {
    font-size: 10px;
  }
}