.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.table > div {
  border-right: 1px solid var(--creme);
  z-index: 999;
  text-align: center;
  background-color: var(--blue-dark);
}

.table > div:nth-child(3n) {
  border-right: none;
}
