@import "../../assets/settings";

.table {
  display: grid;
  grid-template-columns: 120px 1fr 1fr 1fr 1fr;

  div.legend {
    background-color: #444444;
    color: #fafafa;
    border-color: #fafafa;
  }

  > div {
    padding: $spacing-s;
    border: 1px solid #444444;
    border-bottom: none;
    border-left: none;
    z-index: 999;
    text-align: center;
  }
}